.u-section-1 .u-sheet-1 {
  min-height: 5px;
}.u-block-04cb-2 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-block-04cb-3 {
  position: absolute;
  left: 0;
}

.u-block-04cb-4 {
  position: absolute;
  right: 0;
}

 .u-section-2-1 {
  background-image: url("/images/BANNER_Mesadetrabajo1.jpg");
  background-position: 50% 50%;
  min-height: 797px;
}

.u-section-2-1:hover {
  cursor: pointer;
}

@media (max-width: 1199px) {
   .u-section-2-1 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
   .u-section-2-1 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
   .u-section-2-1 {
    min-height: 344px;
  }
}

@media (max-width: 575px) {
   .u-section-2-1 {
    min-height: 204px;
  }
}

 .u-section-2-2 {
  background-image: url("/images/BANNER_Mesadetrabajo1copia3.jpg");
  background-position: 50% 50%;
  min-height: 797px;
}

.u-section-2-2:hover {
  cursor: pointer;
}

@media (max-width: 1199px) {
   .u-section-2-2 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
   .u-section-2-2 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
   .u-section-2-2 {
    min-height: 344px;
  }
}

@media (max-width: 575px) {
   .u-section-2-2 {
    min-height: 204px;
  }
}

 .u-section-2-3 {
  background-image: url("/images/BANNER_Mesadetrabajo1copia2.jpg");
  background-position: 50% 50%;
  min-height: 797px;
}

.u-section-2-3:hover {
  cursor: pointer;
}

@media (max-width: 1199px) {
   .u-section-2-3 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
   .u-section-2-3 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
   .u-section-2-3 {
    min-height: 344px;
  }
}

@media (max-width: 575px) {
   .u-section-2-3 {
    min-height: 204px;
  }
}

 .u-section-2-4 {
  background-image: url("/images/BANNER_Mesadetrabajo1copia.jpg");
  background-position: 50% 50%;
  min-height: 797px;
}

.u-section-2-4:hover {
  cursor: pointer;
}

@media (max-width: 1199px) {
   .u-section-2-4 {
    min-height: 550px;
  }
}

@media (max-width: 991px) {
   .u-section-2-4 {
    min-height: 459px;
  }
}

@media (max-width: 767px) {
   .u-section-2-4 {
    min-height: 344px;
  }
}

@media (max-width: 575px) {
   .u-section-2-4 {
    min-height: 204px;
  }
} .u-section-3 {
  margin-top: 20px;
  margin-bottom: 0;
}

.u-section-3 .u-sheet-1 {
  min-height: 5px;
} .u-section-4 {
  min-height: 330px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 1px;
  background-image: none;
}

.u-section-4 .u-image-1 {
  min-height: 326px;
  background-image: url("/images/PAG.PRINCIPAL_F-copia.png");
  background-position: 50% 50%;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 329px;
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-size: 3rem;
  font-weight: normal;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 80px 0 0;
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 286px;
  }

  .u-section-4 .u-image-1 {
    min-height: 286px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 29px;
    padding-right: 29px;
    padding-bottom: 0;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 2.25rem;
    font-weight: 500;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 20px;
    margin-right: 63px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 220px;
  }

  .u-section-4 .u-image-1 {
    min-height: 219px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 219px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-top: 19px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-right: 22px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 547px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-4 .u-image-1 {
    min-height: 315px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 212px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-right: 25px;
    padding-bottom: 19px;
    padding-left: 25px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 404px;
  }

  .u-section-4 .u-image-1 {
    min-height: 195px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 209px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 22px;
    padding-right: 22px;
  }

  .u-section-4 .u-text-2 {
    font-size: 0.875rem;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 449px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 2px;
  margin-bottom: 2px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 446px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 23px;
}

.u-section-5 .u-image-1 {
  height: 392px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: -353px auto 0;
}

.u-section-5 .u-line-1 {
  width: 408px;
  margin: 13px auto 0;
}

.u-section-5 .u-image-2 {
  width: 141px;
  height: 141px;
  margin: 30px auto 0 47px;
}

.u-section-5 .u-image-3 {
  width: 114px;
  height: 126px;
  margin: -141px 60px 0 auto;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 14px auto 0 47px;
}

.u-section-5 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -29px 42px 0 auto;
}

.u-section-5 .u-text-4 {
  font-weight: 700;
  font-size: 3rem;
  margin: -125px auto 0;
}

.u-section-5 .u-btn-1 {
  font-size: 1rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: uppercase;
  font-weight: 700;
  margin: 95px auto 0;
  padding: 10px 105px 10px 104px;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 446px;
}

.u-section-5 .u-container-layout-2 {
  padding: 26px 30px;
}

.u-section-5 .u-image-4 {
  height: 393px;
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-5 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 600;
  margin: -350px auto 0;
}

.u-section-5 .u-line-2 {
  width: 408px;
  margin: 13px auto 0;
}

.u-section-5 .u-image-5 {
  width: 128px;
  height: 129px;
  margin: 30px 60px 0 auto;
}

.u-section-5 .u-image-6 {
  width: 114px;
  height: 126px;
  margin: -129px auto 0 60px;
}

.u-section-5 .u-text-6 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 14px auto 0 42px;
}

.u-section-5 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -29px 69px 0 auto;
}

.u-section-5 .u-text-8 {
  font-weight: 700;
  font-size: 3rem;
  width: 79px;
  margin: -125px auto 0;
}

.u-section-5 .u-btn-2 {
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  font-weight: 700;
  background-image: none;
  margin: 95px auto 0;
  padding: 10px 79px 11px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 366px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-bottom: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 315px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -275px;
  }

  .u-section-5 .u-line-1 {
    width: 343px;
    transform-origin: left center 0px;
    margin-top: 10px;
  }

  .u-section-5 .u-image-2 {
    width: 112px;
    height: 112px;
    margin-top: 12px;
    margin-left: 26px;
  }

  .u-section-5 .u-image-3 {
    width: 95px;
    height: 105px;
    margin-top: -109px;
    margin-right: 34px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 12px;
    margin-left: 28px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -22px;
    margin-right: 23px;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: -110px;
  }

  .u-section-5 .u-btn-1 {
    font-size: 0.875rem;
    margin-top: 70px;
    padding: 5px 75px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 366px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  .u-section-5 .u-image-4 {
    height: 316px;
  }

  .u-section-5 .u-text-5 {
    margin-top: -273px;
  }

  .u-section-5 .u-line-2 {
    width: 357px;
    transform-origin: left center 0px;
    margin-top: 10px;
  }

  .u-section-5 .u-image-5 {
    width: 103px;
    height: 104px;
    margin-top: 16px;
    margin-right: 27px;
  }

  .u-section-5 .u-image-6 {
    width: 94px;
    height: 104px;
    margin-top: -104px;
    margin-left: 27px;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    font-size: 0.875rem;
    margin-top: 13px;
    margin-left: 16px;
  }

  .u-section-5 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -22px;
    margin-right: 35px;
  }

  .u-section-5 .u-text-8 {
    margin-top: -110px;
  }

  .u-section-5 .u-btn-2 {
    font-size: 0.875rem;
    margin-top: 67px;
    padding: 5px 75px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 302px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 286px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 27px;
    padding-right: 27px;
  }

  .u-section-5 .u-image-1 {
    height: 235px;
    width: 305px;
    margin-right: 1px;
    margin-left: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -206px;
  }

  .u-section-5 .u-line-1 {
    width: 242px;
    margin-top: 6px;
    margin-right: 30px;
  }

  .u-section-5 .u-image-2 {
    width: 82px;
    height: 82px;
    margin-top: 13px;
    margin-left: 30px;
  }

  .u-section-5 .u-image-3 {
    width: 74px;
    height: 82px;
    margin-top: -82px;
    margin-right: 33px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 0;
    margin-left: 25px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    margin-top: -18px;
    margin-right: 20px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.875rem;
    margin-top: -84px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 59px;
    padding: 3px 60px 3px 59px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 286px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 26px 16px 20px;
  }

  .u-section-5 .u-image-4 {
    height: 236px;
    object-position: 50% 0%;
    width: 305px;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-top: -215px;
  }

  .u-section-5 .u-line-2 {
    width: 241px;
    margin-top: 9px;
  }

  .u-section-5 .u-image-5 {
    width: 81px;
    height: 82px;
    margin-top: 20px;
    margin-right: 33px;
  }

  .u-section-5 .u-image-6 {
    width: 74px;
    height: 82px;
    margin-top: -83px;
    margin-left: 33px;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.75rem;
    margin-top: 2px;
    margin-left: 20px;
  }

  .u-section-5 .u-text-7 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 37px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.875rem;
    width: 67px;
    margin-top: -104px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 78px;
    padding: 1px 38px 2px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 20px;
    margin-bottom: 0;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 429px;
  }

  .u-section-5 .u-container-layout-1 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-1 {
    height: 379px;
    width: 492px;
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -350px;
  }

  .u-section-5 .u-line-1 {
    width: 380px;
    margin-top: 22px;
    margin-right: auto;
  }

  .u-section-5 .u-image-2 {
    width: 141px;
    height: 141px;
    margin-top: 21px;
    margin-left: 52px;
  }

  .u-section-5 .u-image-3 {
    width: 118px;
    height: 130px;
    margin-top: -137px;
    margin-right: 70px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-left: 60px;
    font-size: 1rem;
  }

  .u-section-5 .u-text-3 {
    margin-top: -26px;
    margin-right: 62px;
    font-size: 1rem;
  }

  .u-section-5 .u-text-4 {
    margin-top: -129px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-btn-1 {
    font-size: 1rem;
    margin-top: 110px;
    padding-right: 91px;
    padding-bottom: 4px;
    padding-left: 90px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 474px;
  }

  .u-section-5 .u-container-layout-2 {
    padding: 0 10px;
  }

  .u-section-5 .u-image-4 {
    height: 384px;
    width: 497px;
    margin-top: 32px;
  }

  .u-section-5 .u-text-5 {
    font-size: 2.25rem;
    margin-top: -353px;
  }

  .u-section-5 .u-line-2 {
    width: 380px;
    margin-top: 22px;
  }

  .u-section-5 .u-image-5 {
    width: 128px;
    height: 129px;
    margin-top: 27px;
    margin-right: auto;
    margin-left: 70px;
  }

  .u-section-5 .u-image-6 {
    width: 117px;
    height: 129px;
    margin-top: -126px;
    margin-right: 70px;
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
    margin-left: 67px;
    font-size: 1rem;
  }

  .u-section-5 .u-text-7 {
    font-size: 1rem;
    margin-top: -26px;
    margin-right: 79px;
  }

  .u-section-5 .u-text-8 {
    margin-top: -134px;
    font-size: 2.25rem;
  }

  .u-section-5 .u-btn-2 {
    font-size: 1rem;
    margin-top: 115px;
    padding: 4px 65px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-top: 0;
    margin-bottom: 20px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 281px;
  }

  .u-section-5 .u-image-1 {
    height: 247px;
    width: 320px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -224px;
  }

  .u-section-5 .u-line-1 {
    width: 220px;
    margin-top: 8px;
  }

  .u-section-5 .u-image-2 {
    width: 78px;
    height: 78px;
    margin-top: 12px;
    margin-left: 42px;
  }

  .u-section-5 .u-image-3 {
    width: 66px;
    height: 73px;
    margin-top: -76px;
    margin-right: 50px;
  }

  .u-section-5 .u-text-2 {
    font-size: 0.75rem;
    margin-top: 10px;
    margin-left: 34px;
  }

  .u-section-5 .u-text-3 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 33px;
  }

  .u-section-5 .u-text-4 {
    font-size: 1.5rem;
    margin-top: -79px;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 67px;
    padding: 2px 57px 3px 56px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 281px;
  }

  .u-section-5 .u-image-4 {
    height: 247px;
    width: 320px;
    margin-top: 29px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-5 .u-text-5 {
    font-size: 1.5rem;
    margin-top: -223px;
  }

  .u-section-5 .u-line-2 {
    width: 220px;
    margin-top: 8px;
  }

  .u-section-5 .u-image-5 {
    width: 72px;
    height: 72px;
    margin-top: 15px;
    margin-left: 50px;
  }

  .u-section-5 .u-image-6 {
    width: 66px;
    height: 72px;
    margin-top: -72px;
    margin-right: 50px;
  }

  .u-section-5 .u-text-6 {
    font-size: 0.75rem;
    margin-top: 10px;
    margin-right: 33px;
    margin-left: auto;
  }

  .u-section-5 .u-text-7 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: auto;
    margin-left: 48px;
  }

  .u-section-5 .u-text-8 {
    font-size: 1.5rem;
    margin-top: -78px;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 67px;
    padding: 2px 32px 2px 31px;
  }
}.u-section-6 .u-sheet-1 {
  min-height: 395px;
}

.u-section-6 .u-group-1 {
  min-height: 350px;
  margin-top: 22px;
  margin-bottom: 22px;
  height: auto;
}

.u-section-6 .u-container-layout-1 {
  padding: 24px 30px;
}

.u-section-6 .u-image-1 {
  height: 296px;
  margin: 6px 0 0;
}

.u-section-6 .u-btn-1 {
  text-transform: uppercase;
  font-size: 1.125rem;
  letter-spacing: 1px;
  background-image: none;
  font-weight: 700;
  margin: -80px 73px 0 auto;
  padding: 6px 50px 7px 49px;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 341px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 23px;
    margin-bottom: 23px;
    min-height: 296px;
    height: auto;
  }

  .u-section-6 .u-container-layout-1 {
    padding-bottom: 21px;
  }

  .u-section-6 .u-image-1 {
    height: 244px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-1 {
    font-size: 1rem;
    margin-top: -64px;
    margin-right: 50px;
    padding: 3px 36px 4px 35px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 289px;
  }

  .u-section-6 .u-group-1 {
    min-height: 244px;
  }

  .u-section-6 .u-image-1 {
    height: 187px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: -50px;
    margin-right: 34px;
    padding-top: 2px;
    padding-right: 28px;
    padding-left: 27px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 194px;
  }

  .u-section-6 .u-group-1 {
    margin-top: 0;
    margin-bottom: 50px;
    min-height: 172px;
  }

  .u-section-6 .u-container-layout-1 {
    padding: 6px 10px;
  }

  .u-section-6 .u-image-1 {
    height: 140px;
    margin-top: 20px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -42px;
    margin-right: 36px;
    padding-right: 15px;
    padding-left: 14px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 145px;
  }

  .u-section-6 .u-group-1 {
    margin-bottom: 10px;
    min-height: 135px;
  }

  .u-section-6 .u-image-1 {
    height: 88px;
    margin-top: 29px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-btn-1 {
    font-weight: 600;
    margin-top: -26px;
    margin-right: 16px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 165px;
}

.u-section-7 .u-text-1 {
  font-weight: 600;
  font-size: 4.5rem;
  margin: 40px auto 0 0;
}

.u-section-7 .u-line-1 {
  margin-top: 10px;
  margin-bottom: 0;
  transform-origin: left center 0px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3.75rem;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 113px;
  }

  .u-section-7 .u-text-1 {
    font-size: 3rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 99px;
  }

  .u-section-7 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-top: 45px;
  }

  .u-section-7 .u-line-1 {
    margin-top: 5px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1098px;
}

.u-section-8 .u-image-1 {
  min-height: 464px;
  height: auto;
  width: 340px;
  background-image: url("/images/12.jpg");
  background-position: 50% 50%;
  margin: 50px auto 0 0;
}

.u-section-8 .u-container-layout-1 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 345px auto 0 20px;
}

.u-section-8 .u-text-2 {
  font-size: 1.125rem;
  margin: 16px 20px 0;
}

.u-section-8 .u-image-2 {
  min-height: 464px;
  height: auto;
  width: 340px;
  background-image: url("/images/1-copia.jpg");
  background-position: 50% 50%;
  margin: -464px auto 0;
}

.u-section-8 .u-container-layout-2 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.u-section-8 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 346px auto 0 20px;
}

.u-section-8 .u-text-4 {
  font-size: 1.125rem;
  margin: 16px 20px 0;
}

.u-section-8 .u-image-3 {
  min-height: 464px;
  height: auto;
  width: 340px;
  background-image: url("/images/1-copia-copia.jpg");
  background-position: 50% 50%;
  margin: -464px 0 0 auto;
}

.u-section-8 .u-container-layout-3 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-8 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 345px auto 0 20px;
}

.u-section-8 .u-text-6 {
  font-size: 1.125rem;
  margin: 16px 20px 0;
}

.u-section-8 .u-image-4 {
  min-height: 464px;
  height: auto;
  width: 340px;
  background-image: url("/images/23.jpg");
  background-position: 50% 50%;
  margin: 60px auto 0 0;
}

.u-section-8 .u-container-layout-4 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-8 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 345px auto 0 20px;
}

.u-section-8 .u-text-8 {
  font-size: 1.125rem;
  margin: 16px 20px 0;
}

.u-section-8 .u-image-5 {
  min-height: 464px;
  height: auto;
  width: 340px;
  background-image: url("/images/2-copia.jpg");
  background-position: 50% 50%;
  margin: -464px auto 0;
}

.u-section-8 .u-container-layout-5 {
  padding-top: 3px;
  padding-bottom: 3px;
}

.u-section-8 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 346px auto 0 20px;
}

.u-section-8 .u-text-10 {
  font-size: 1.125rem;
  margin: 16px 20px 0;
}

.u-section-8 .u-image-6 {
  min-height: 464px;
  height: auto;
  width: 340px;
  background-image: url("/images/2-copia-copia.jpg");
  background-position: 50% 50%;
  margin: -464px 0 60px auto;
}

.u-section-8 .u-container-layout-6 {
  padding-top: 0;
  padding-bottom: 0;
}

.u-section-8 .u-text-11 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 345px auto 0 20px;
}

.u-section-8 .u-text-12 {
  font-size: 1.125rem;
  margin: 16px 20px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1837px;
  }

  .u-section-8 .u-image-1 {
    background-position: 42.66% 50%;
    height: auto;
  }

  .u-section-8 .u-text-2 {
    margin-right: 19px;
  }

  .u-section-8 .u-image-2 {
    background-position: 44.44% 50%;
    margin-right: 0;
    height: auto;
  }

  .u-section-8 .u-text-3 {
    margin-top: 345px;
  }

  .u-section-8 .u-text-4 {
    margin-right: 19px;
  }

  .u-section-8 .u-image-3 {
    background-position: 56.19% 50%;
    margin-top: 173px;
    margin-right: auto;
    margin-left: 0;
    height: auto;
  }

  .u-section-8 .u-text-6 {
    margin-right: 19px;
  }

  .u-section-8 .u-image-4 {
    margin-top: -464px;
    margin-right: 0;
    margin-left: auto;
    height: auto;
  }

  .u-section-8 .u-image-5 {
    margin-top: 173px;
    margin-left: 0;
    height: auto;
  }

  .u-section-8 .u-image-6 {
    margin-bottom: 50px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1561px;
  }

  .u-section-8 .u-image-3 {
    margin-top: 40px;
  }

  .u-section-8 .u-image-5 {
    margin-top: 40px;
  }

  .u-section-8 .u-image-6 {
    margin-bottom: 39px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 4725px;
  }

  .u-section-8 .u-image-1 {
    min-height: 737px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 545px;
    margin-left: 33px;
  }

  .u-section-8 .u-text-2 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 45px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-8 .u-image-2 {
    min-height: 737px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-container-layout-2 {
    padding-top: 0;
    padding-bottom: 0;
  }

  .u-section-8 .u-text-3 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 545px;
    margin-left: 33px;
  }

  .u-section-8 .u-text-4 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 45px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-8 .u-image-3 {
    min-height: 737px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-5 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 545px;
    margin-left: 33px;
  }

  .u-section-8 .u-text-6 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 45px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-8 .u-image-4 {
    min-height: 738px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-7 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 546px;
    margin-left: 33px;
  }

  .u-section-8 .u-text-8 {
    width: auto;
    font-size: 1.5rem;
    margin-top: 45px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-8 .u-image-5 {
    min-height: 738px;
    margin-top: 50px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-9 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 539px;
    margin-left: 33px;
  }

  .u-section-8 .u-text-10 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 45px;
    margin-right: auto;
    margin-left: 33px;
  }

  .u-section-8 .u-image-6 {
    min-height: 738px;
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-8 .u-text-11 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 546px;
    margin-left: 33px;
  }

  .u-section-8 .u-text-12 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 45px;
    margin-right: auto;
    margin-left: 33px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 750px;
  }

  .u-section-8 .u-image-1 {
    min-height: 210px;
    width: 156px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-1 {
    font-size: 0.625rem;
    margin-top: 143px;
    margin-left: 17px;
  }

  .u-section-8 .u-text-2 {
    font-size: 0.625rem;
    width: 122px;
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-8 .u-image-2 {
    min-height: 210px;
    width: 156px;
    margin-top: -210px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-text-3 {
    font-size: 0.625rem;
    margin-top: 143px;
    margin-left: 17px;
  }

  .u-section-8 .u-text-4 {
    font-size: 0.625rem;
    width: 122px;
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-8 .u-image-3 {
    min-height: 210px;
    width: 156px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-text-5 {
    font-size: 0.625rem;
    margin-top: 143px;
    margin-left: 17px;
  }

  .u-section-8 .u-text-6 {
    font-size: 0.625rem;
    width: 122px;
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-8 .u-image-4 {
    min-height: 210px;
    width: 156px;
    margin-top: -210px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-8 .u-text-7 {
    font-size: 0.625rem;
    margin-top: 143px;
    margin-left: 17px;
  }

  .u-section-8 .u-text-8 {
    font-size: 0.625rem;
    width: 122px;
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-8 .u-image-5 {
    min-height: 210px;
    width: 156px;
    margin-top: 28px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-8 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-8 .u-text-9 {
    font-size: 0.625rem;
    margin-top: 143px;
    margin-left: 17px;
  }

  .u-section-8 .u-text-10 {
    font-size: 0.625rem;
    width: 121px;
    margin-top: 8px;
    margin-left: auto;
  }

  .u-section-8 .u-image-6 {
    min-height: 210px;
    width: 156px;
    margin: -210px 0 14px auto;
  }

  .u-section-8 .u-text-11 {
    font-size: 0.625rem;
    margin-top: 143px;
    margin-left: 17px;
  }

  .u-section-8 .u-text-12 {
    font-size: 0.625rem;
    width: 121px;
    margin-top: 8px;
    margin-left: auto;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 68px;
}

.u-section-9 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 1.875rem;
  background-image: none;
  margin: 0;
  padding: 9px 502px 11px;
}

@media (max-width: 1199px) {
  .u-section-9 .u-btn-1 {
    padding-right: 403px;
    padding-left: 401px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-btn-1 {
    margin-left: auto;
    margin-right: auto;
    padding-right: 293px;
    padding-left: 291px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 59px;
  }

  .u-section-9 .u-btn-1 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
    padding-top: 10px;
    padding-right: 224px;
    padding-left: 223px;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 58px;
  }

  .u-section-9 .u-btn-1 {
    padding-right: 125px;
    padding-left: 123px;
  }
}.u-section-10 .u-sheet-1 {
  min-height: 630px;
}

.u-section-10 .u-image-1 {
  height: 518px;
  margin-top: 56px;
  margin-bottom: 0;
}

.u-section-10 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -157px 37px 60px auto;
  padding: 6px 57px 7px 55px;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 525px;
  }

  .u-section-10 .u-image-1 {
    height: 413px;
  }

  .u-section-10 .u-btn-1 {
    font-size: 1.5rem;
    margin-top: -120px;
    margin-right: 26px;
    margin-bottom: 125px;
    padding-right: 54px;
    padding-left: 53px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 444px;
  }

  .u-section-10 .u-image-1 {
    height: 333px;
    margin-top: 55px;
  }

  .u-section-10 .u-btn-1 {
    font-size: 1.25rem;
    margin-top: -101px;
    margin-right: 24px;
    margin-bottom: 60px;
    padding-left: 34px;
    padding-right: 34px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-10 .u-image-1 {
    height: 248px;
  }

  .u-section-10 .u-btn-1 {
    font-size: 1rem;
    margin-top: -74px;
    margin-right: 15px;
    padding: 1px 23px 3px;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 270px;
  }

  .u-section-10 .u-image-1 {
    height: 160px;
  }

  .u-section-10 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: -48px;
    margin-right: 10px;
    padding-right: 13px;
    padding-bottom: 1px;
    padding-left: 12px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 675px;
}

.u-section-11 .u-layout-wrap-1 {
  width: 1141px;
  margin: 51px 0;
}

.u-section-11 .u-image-1 {
  min-height: 600px;
  background-image: url("/images/ICIO.jpg");
}

.u-section-11 .u-container-layout-1 {
  padding: 4px 2px;
}

.u-section-11 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 368px auto 0;
}

.u-section-11 .u-text-2 {
  font-size: 1rem;
  font-weight: normal;
  margin: 12px auto 0;
}

.u-section-11 .u-btn-1 {
  font-size: 1.125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: normal;
  margin: 25px auto 0;
  padding: 7px 31px 8px 30px;
}

.u-section-11 .u-image-2 {
  min-height: 600px;
  background-image: url("/images/ICIO-copia.jpg");
}

.u-section-11 .u-container-layout-2 {
  padding: 0;
}

.u-section-11 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 372px auto 0;
}

.u-section-11 .u-text-4 {
  font-size: 1rem;
  margin: 12px auto 0;
}

.u-section-11 .u-btn-2 {
  font-size: 1.125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
  padding: 7px 31px 8px 30px;
}

.u-section-11 .u-image-3 {
  min-height: 600px;
  background-image: url("/images/ICIO-copia2.jpg");
}

.u-section-11 .u-container-layout-3 {
  padding: 0;
}

.u-section-11 .u-text-5 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 372px auto 0;
}

.u-section-11 .u-text-6 {
  font-size: 1rem;
  margin: 12px auto 0;
}

.u-section-11 .u-btn-3 {
  font-size: 1.125rem;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 25px auto 0;
  padding: 7px 31px 8px 30px;
}

@media (max-width: 1199px) {
  .u-section-11 .u-sheet-1 {
    min-height: 429px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-11 .u-image-1 {
    background-position: 50% 50%;
    min-height: 583px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }

  .u-section-11 .u-text-1 {
    width: auto;
  }

  .u-section-11 .u-text-2 {
    width: auto;
    margin-left: 13px;
    margin-right: 13px;
  }

  .u-section-11 .u-btn-1 {
    letter-spacing: 1px;
  }

  .u-section-11 .u-image-2 {
    background-position: 50% 50%;
    min-height: 583px;
  }

  .u-section-11 .u-image-3 {
    min-height: 494px;
    background-position: 50% 50%;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-11 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-11 .u-image-1 {
    min-height: 379px;
  }

  .u-section-11 .u-text-1 {
    margin-top: 190px;
  }

  .u-section-11 .u-text-2 {
    font-size: 0.875rem;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-btn-1 {
    font-size: 0.75rem;
    margin-top: 10px;
  }

  .u-section-11 .u-image-2 {
    min-height: 379px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 8px;
    padding-right: 8px;
  }

  .u-section-11 .u-text-3 {
    width: auto;
    margin-top: 194px;
  }

  .u-section-11 .u-text-4 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-btn-2 {
    font-size: 0.75rem;
    margin-top: 10px;
  }

  .u-section-11 .u-image-3 {
    min-height: 379px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-11 .u-text-5 {
    width: auto;
    margin-top: 194px;
  }

  .u-section-11 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-11 .u-btn-3 {
    font-size: 0.75rem;
    margin-top: 10px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-11 .u-image-1 {
    min-height: 282px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1.5rem;
    margin-top: 134px;
  }

  .u-section-11 .u-text-2 {
    font-size: 0.625rem;
    margin-top: 8px;
  }

  .u-section-11 .u-btn-1 {
    font-size: 0.625rem;
    margin-top: 8px;
    padding: 3px 14px 3px 13px;
  }

  .u-section-11 .u-image-2 {
    min-height: 282px;
  }

  .u-section-11 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-11 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 138px;
  }

  .u-section-11 .u-text-4 {
    font-size: 0.625rem;
    margin-top: 8px;
  }

  .u-section-11 .u-btn-2 {
    font-size: 0.625rem;
    margin-top: 8px;
    padding: 2px 22px 4px 21px;
  }

  .u-section-11 .u-image-3 {
    min-height: 282px;
  }

  .u-section-11 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-11 .u-text-5 {
    font-size: 1.5rem;
    margin-top: 138px;
  }

  .u-section-11 .u-text-6 {
    font-size: 0.625rem;
    margin-top: 8px;
  }

  .u-section-11 .u-btn-3 {
    font-size: 0.625rem;
    margin-top: 8px;
    padding: 3px 22px 3px 20px;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-sheet-1 {
    min-height: 237px;
  }

  .u-section-11 .u-layout-wrap-1 {
    width: 374px;
    margin: 26px -17px;
  }

  .u-section-11 .u-image-1 {
    min-height: 195px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1rem;
    margin-top: 79px;
  }

  .u-section-11 .u-text-2 {
    margin-top: 11px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-11 .u-btn-1 {
    font-weight: 500;
    margin-top: 9px;
    padding: 0 6px 0 5px;
  }

  .u-section-11 .u-image-2 {
    min-height: 195px;
  }

  .u-section-11 .u-text-3 {
    font-size: 1rem;
    margin-top: 83px;
  }

  .u-section-11 .u-text-4 {
    margin-top: 11px;
  }

  .u-section-11 .u-btn-2 {
    margin-top: 9px;
    font-weight: normal;
    padding: 0 14px 0 13px;
  }

  .u-section-11 .u-image-3 {
    min-height: 195px;
  }

  .u-section-11 .u-text-5 {
    font-size: 1rem;
    margin-top: 83px;
  }

  .u-section-11 .u-text-6 {
    margin-top: 11px;
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-11 .u-btn-3 {
    margin-top: 9px;
    font-weight: normal;
    padding: 0 14px 0 13px;
  }
} .u-section-12 {
  min-height: 1180px;
}

.u-section-12 .u-image-1 {
  min-height: 910px;
  height: auto;
  background-image: url("/images/PAG.PRINCIPAL_F-copia21.png");
  background-position: 50% 0%;
  margin: 0;
}

.u-section-12 .u-container-layout-1 {
  padding: 0;
}

.u-section-12 .u-image-2 {
  width: 1140px;
  height: 170px;
  margin: 50px auto;
}

@media (max-width: 1199px) {
   .u-section-12 {
    min-height: 910px;
  }

  .u-section-12 .u-image-1 {
    min-height: 680px;
    margin-right: initial;
    margin-left: initial;
    height: auto;
  }

  .u-section-12 .u-image-2 {
    width: 940px;
    height: 140px;
  }
}

@media (max-width: 991px) {
   .u-section-12 {
    min-height: 735px;
  }

  .u-section-12 .u-image-1 {
    min-height: 568px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-2 {
    width: 720px;
    height: 107px;
  }
}

@media (max-width: 767px) {
   .u-section-12 {
    min-height: 570px;
  }

  .u-section-12 .u-image-1 {
    min-height: 420px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-2 {
    width: 540px;
    height: 80px;
  }
}

@media (max-width: 575px) {
   .u-section-12 {
    min-height: 416px;
  }

  .u-section-12 .u-image-1 {
    min-height: 286px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-12 .u-image-2 {
    width: 340px;
    height: 50px;
    margin-right: calc(((100% - 340px) / 2) + -12px);
  }
} .u-section-13 {
  background-image: none;
}

.u-section-13 .u-sheet-1 {
  min-height: 380px;
}

.u-section-13 .u-layout-wrap-1 {
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-13 .u-layout-cell-1 {
  min-height: 345px;
}

.u-section-13 .u-container-layout-1 {
  padding: 30px 0 30px 35px;
}

.u-section-13 .u-image-1 {
  width: 152px;
  height: 167px;
  margin: 56px 46px 0 auto;
}

.u-section-13 .u-text-1 {
  font-size: 0.625rem;
  font-weight: normal;
  margin: 46px 0 0 auto;
}

.u-section-13 .u-layout-cell-2 {
  min-height: 345px;
}

.u-section-13 .u-container-layout-2 {
  padding: 30px 42px;
}

.u-section-13 .u-text-2 {
  width: 147px;
  font-weight: normal;
  font-size: 1.25rem;
  margin: 58px auto 0;
}

.u-section-13 .u-social-icons-1 {
  height: 64px;
  min-height: 16px;
  width: 147px;
  min-width: 52px;
  margin: 27px auto 0;
}

.u-section-13 .u-icon-1 {
  height: 48px;
}

.u-section-13 .u-icon-2 {
  height: 48px;
}

.u-section-13 .u-text-3 {
  font-size: 1rem;
  font-weight: 300;
  margin: 86px 0 0 77px;
}

.u-section-13 .u-layout-cell-3 {
  min-height: 346px;
}

.u-section-13 .u-container-layout-3 {
  padding: 30px;
}

.u-section-13 .u-text-4 {
  font-size: 1rem;
  font-weight: normal;
  margin: 55px 0 0;
}

.u-section-13 .u-social-icons-2 {
  height: 46px;
  min-height: 16px;
  width: 46px;
  min-width: 16px;
  margin: 20px auto 0 0;
}

.u-section-13 .u-icon-3 {
  height: 48px;
}

.u-section-13 .u-text-5 {
  font-weight: 500;
  font-size: 1.25rem;
  margin: -35px 160px 0 46px;
}

.u-section-13 .u-text-6 {
  font-size: 1rem;
  font-weight: 300;
  margin: 110px 0 0 286px;
}

.u-section-13 .u-text-7 {
  font-size: 1rem;
  font-weight: 300;
  margin: -26px 223px 0 0;
}

.u-section-13 .u-text-8 {
  font-size: 1rem;
  font-weight: 300;
  margin: -24px 124px 0 187px;
}

@media (max-width: 1199px) {
  .u-section-13 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 342px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-left: 0;
    padding-bottom: 26px;
  }

  .u-section-13 .u-image-1 {
    height: 168px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 342px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-bottom: 26px;
  }

  .u-section-13 .u-text-3 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 91px;
    margin-left: 20px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 342px;
  }

  .u-section-13 .u-container-layout-3 {
    padding: 26px 0;
  }

  .u-section-13 .u-text-4 {
    font-size: 0.875rem;
    margin-top: 59px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-13 .u-social-icons-2 {
    margin-top: 29px;
    margin-left: 30px;
  }

  .u-section-13 .u-text-5 {
    font-weight: 700;
    width: auto;
    margin-right: 114px;
    margin-left: 76px;
  }

  .u-section-13 .u-text-6 {
    font-size: 0.875rem;
    width: auto;
    margin-left: 269px;
  }

  .u-section-13 .u-text-7 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -23px;
    margin-right: 225px;
  }

  .u-section-13 .u-text-8 {
    font-size: 0.875rem;
    width: auto;
    margin-top: -22px;
    margin-right: 125px;
    margin-left: 170px;
  }
}

@media (max-width: 991px) {
  .u-section-13 .u-sheet-1 {
    min-height: 362px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-bottom: 2px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 326px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .u-section-13 .u-image-1 {
    margin-top: 75px;
  }

  .u-section-13 .u-text-1 {
    width: auto;
    font-weight: 300;
    margin-top: 30px;
    margin-left: 0;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 326px;
  }

  .u-section-13 .u-container-layout-2 {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 16px;
  }

  .u-section-13 .u-text-2 {
    width: 144px;
  }

  .u-section-13 .u-text-3 {
    font-size: 0.75rem;
    margin-top: 88px;
    margin-right: 9px;
    margin-left: 21px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 326px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-bottom: 16px;
  }

  .u-section-13 .u-text-4 {
    font-size: 0.75rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-13 .u-social-icons-2 {
    margin-left: 0;
  }

  .u-section-13 .u-text-5 {
    margin-right: 72px;
    margin-left: 34px;
  }

  .u-section-13 .u-text-6 {
    font-size: 0.75rem;
    margin-top: 112px;
    margin-left: 208px;
  }

  .u-section-13 .u-text-7 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 161px;
  }

  .u-section-13 .u-text-8 {
    font-size: 0.75rem;
    margin-top: -19px;
    margin-right: 89px;
    margin-left: 136px;
  }
}

@media (max-width: 767px) {
  .u-section-13 .u-sheet-1 {
    min-height: 312px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: 25px;
    margin-bottom: 0;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 288px;
  }

  .u-section-13 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-13 .u-image-1 {
    margin-top: 32px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 288px;
  }

  .u-section-13 .u-container-layout-2 {
    padding: 0 10px 15px;
  }

  .u-section-13 .u-text-2 {
    margin-top: 45px;
  }

  .u-section-13 .u-text-3 {
    font-size: 0.625rem;
    margin: 97px 0 -4px 82px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 288px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .u-section-13 .u-text-4 {
    margin-top: 27px;
  }

  .u-section-13 .u-text-5 {
    margin-right: 0;
    margin-left: 46px;
  }

  .u-section-13 .u-text-6 {
    font-size: 0.625rem;
    margin-top: 108px;
    margin-left: 117px;
  }

  .u-section-13 .u-text-7 {
    font-size: 0.625rem;
    margin-top: -16px;
    margin-right: 70px;
    margin-left: 8px;
  }

  .u-section-13 .u-text-8 {
    margin-right: 31px;
    margin-left: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-13 .u-sheet-1 {
    min-height: 180px;
  }

  .u-section-13 .u-layout-wrap-1 {
    margin-top: 15px;
  }

  .u-section-13 .u-layout-cell-1 {
    min-height: 166px;
  }

  .u-section-13 .u-image-1 {
    height: 92px;
    width: 83px;
    margin-top: 17px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-13 .u-text-1 {
    margin-top: 45px;
  }

  .u-section-13 .u-layout-cell-2 {
    min-height: 166px;
  }

  .u-section-13 .u-container-layout-2 {
    padding: 20px 0 12px;
  }

  .u-section-13 .u-text-2 {
    font-size: 0.875rem;
    width: auto;
    margin-top: 7px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-13 .u-social-icons-1 {
    height: 38px;
    width: 96px;
    margin-top: 10px;
    margin-right: 26px;
    margin-left: 0;
  }

  .u-section-13 .u-text-3 {
    margin: 45px 19px 0 1px;
  }

  .u-section-13 .u-layout-cell-3 {
    min-height: 166px;
  }

  .u-section-13 .u-container-layout-3 {
    padding-bottom: 12px;
  }

  .u-section-13 .u-text-4 {
    font-size: 0.625rem;
    width: auto;
    margin-top: 12px;
  }

  .u-section-13 .u-social-icons-2 {
    height: 22px;
    width: 22px;
    margin-top: 47px;
    margin-left: 18px;
  }

  .u-section-13 .u-text-5 {
    font-size: 0.625rem;
    font-weight: 600;
    margin-top: -17px;
    margin-left: 42px;
  }

  .u-section-13 .u-text-6 {
    margin-top: 49px;
    margin-right: 48px;
    margin-left: 0;
  }

  .u-section-13 .u-text-7 {
    margin-top: 58px;
    margin-right: 0;
    margin-left: 18px;
  }

  .u-section-13 .u-text-8 {
    margin-top: -51px;
    margin-right: 64px;
    margin-left: 0;
  }
} .u-section-14 {
  background-image: url("/images/franjadoradayblanca.png");
  background-position: 50% 50%;
}

.u-section-14 .u-sheet-1 {
  min-height: 27px;
}

@media (max-width: 1199px) {
  .u-section-14 .u-sheet-1 {
    min-height: 22px;
  }
}

@media (max-width: 991px) {
  .u-section-14 .u-sheet-1 {
    min-height: 17px;
  }
}

@media (max-width: 767px) {
  .u-section-14 .u-sheet-1 {
    min-height: 13px;
  }
}

@media (max-width: 575px) {
  .u-section-14 .u-sheet-1 {
    min-height: 8px;
  }
}