body{
    margin: 0 10px;
    background-image: url(/images/fondo-login_2.png);
    background-size: cover;
    overflow: hidden;
}

#sec-a19e{
    display: none;
}

section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    min-height: 100vh;
    margin-right: 110px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #0000005d;
    backdrop-filter: blur(3px);
    border-radius: 10px;
    width: 400px;
    position: relative;
    padding: 40px 0;
}

.container-login img{
    width: 200px;
}

.container-login-fields p{
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    color: #fff;
    text-align: center;
}

.container-login-fields input{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    border: none;
    outline: none;
    text-align: center;
}

.container-login-fields input:focus{
    outline: 1.5px solid #e4974f;
    box-shadow: 0 0 10px #e28833;
}

.container-login-showPassword{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container-login-showPassword input{
    accent-color: rgb(214, 154, 45);
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.container-login-showPassword p{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-weight: 300;
    color: #fff;
    text-align: center;
}

.container-login-button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.container-login-button input{
    background: rgb(214, 154, 45);
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 800;
    color: #fff;
    padding: 10px 80px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: .5s;
}

.container-login-button input:hover{
    box-shadow: 0 0 10px #e28833;
    transition: .5s;
}

.messages .message-empty-data{
    margin-top: 20px;
    padding: 20px 80px;
    background: #d14545;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    outline: 2px solid #e71e1e;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: .3s;
}

.messages .message-empty-data:hover{
    background: #ec3f3f;
    outline: 2px solid #f00d0d;
    transition: .3s;
    
}

.messages .btn-invalid-fields{
    margin-top: 20px;
    padding: 20px 80px;
    background: #d14545;
    color: #fff;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    outline: 2px solid #e71e1e;
    margin-bottom: 20px;
    border-radius: 5px;
    transition: .3s;
}

.messages .btn-invalid-fields:hover{
    background: #ec3f3f;
    outline: 2px solid #f00d0d;
    transition: .3s;
    
}

@media(max-width: 900px){
    section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin-right: 50px;
    }
    
    .container-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #00000065;
        backdrop-filter: blur(3px);
        border-radius: 10px;
        width: 400px;
        position: relative;
        padding: 40px 0;
    }
    
    .container-login img{
        width: 200px;
    }
    
    .container-login-fields p{
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        color: #fff;
        text-align: center;
    }
    
    .container-login-fields input{
        width: 300px;
        height: 30px;
        border-radius: 10px;
        border: none;
        outline: none;
        text-align: center;
    }
    
    .container-login-fields input:focus{
        outline: 1.5px solid #e4974f;
        box-shadow: 0 0 10px #e28833;
    }
    
    .container-login-showPassword{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .container-login-showPassword input{
        accent-color: rgb(214, 154, 45);
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }
    
    .container-login-showPassword p{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        text-align: center;
    }
    
    .container-login-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .container-login-button input{
        background: rgb(214, 154, 45);
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 800;
        color: #fff;
        padding: 10px 80px;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: .5s;
    }
    
    .container-login-button input:hover{
        box-shadow: 0 0 10px #e28833;
        transition: .5s;
    }
    .messages .message-empty-data{
        padding: 20px 80px;
        margin-top: 20px;
        background: #d14545;
        color: #fff;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        outline: 2px solid #e71e1e;
        margin-bottom: 20px;
        border-radius: 5px;
        transition: .3s;
    }

    .messages .message-empty-data:hover{
        background: #ec3f3f;
        outline: 2px solid #f00d0d;
        transition: .3s;
        
    }

    .messages .btn-invalid-fields{
        margin-top: 20px;
        padding: 20px 80px;
        background: #d14545;
        color: #fff;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        outline: 2px solid #e71e1e;
        margin-bottom: 20px;
        border-radius: 5px;
        transition: .3s;
    }

    .messages .btn-invalid-fields:hover{
        background: #ec3f3f;
        outline: 2px solid #f00d0d;
        transition: .3s;
        
    }
}

@media(max-width: 520px){
    section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin-right: 0px;
    }
    
    .container-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #00000065;
        backdrop-filter: blur(3px);
        border-radius: 10px;
        width: 350px;
        position: relative;
        padding: 40px 0;
    }
    
    .container-login img{
        width: 200px;
    }
    
    .container-login-fields p{
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        color: #fff;
        text-align: center;
    }
    
    .container-login-fields input{
        width: 300px;
        height: 30px;
        border-radius: 10px;
        border: none;
        outline: none;
        text-align: center;
    }
    
    .container-login-fields input:focus{
        outline: 1.5px solid #e4974f;
        box-shadow: 0 0 10px #e28833;
    }
    
    .container-login-showPassword{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .container-login-showPassword input{
        accent-color: rgb(214, 154, 45);
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }
    
    .container-login-showPassword p{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        text-align: center;
    }
    
    .container-login-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .container-login-button input{
        background: rgb(214, 154, 45);
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 800;
        color: #fff;
        padding: 10px 80px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        transition: .5s;
    }
    
    .container-login-button input:hover{
        box-shadow: 0 0 10px #e28833;
        transition: .5s;
    }
    .messages .message-empty-data{
        margin-top: 20px;
        padding: 20px 80px;
        background: #d14545;
        color: #fff;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        outline: 2px solid #e71e1e;
        margin-bottom: 20px;
        border-radius: 5px;
        transition: .3s;
    }

    .messages .message-empty-data:hover{
        background: #ec3f3f;
        outline: 2px solid #f00d0d;
        transition: .3s;
        
    }

    .messages .btn-invalid-fields{
        margin-top: 20px;
        padding: 20px 80px;
        background: #d14545;
        color: #fff;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        outline: 2px solid #e71e1e;
        margin-bottom: 20px;
        border-radius: 5px;
        transition: .3s;
    }

    .messages .btn-invalid-fields:hover{
        background: #ec3f3f;
        outline: 2px solid #f00d0d;
        transition: .3s;
        
    }

}

@media(max-width: 350px){
    section{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin-right: 0px;
    }
    
    .container-login{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #00000065;
        backdrop-filter: blur(3px);
        border-radius: 10px;
        width: 300px;
        position: relative;
        padding: 40px 0;
    }
    
    .container-login img{
        width: 200px;
    }
    
    .container-login-fields p{
        font-family: 'Montserrat', sans-serif;
        font-size: 17px;
        color: #fff;
        text-align: center;
    }
    
    .container-login-fields input{
        width: 250px;
        height: 30px;
        border-radius: 10px;
        border: none;
        outline: none;
        text-align: center;
    }
    
    .container-login-fields input:focus{
        outline: 1.5px solid #e4974f;
        box-shadow: 0 0 10px #e28833;
    }
    
    .container-login-showPassword{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .container-login-showPassword input{
        accent-color: rgb(214, 154, 45);
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }
    
    .container-login-showPassword p{
        font-family: 'Montserrat', sans-serif;
        font-size: 15px;
        font-weight: 300;
        color: #fff;
        text-align: center;
    }
    
    .container-login-button{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    
    .container-login-button input{
        background: rgb(214, 154, 45);
        font-family: 'Montserrat', sans-serif;
        font-size: 18px;
        font-weight: 800;
        color: #fff;
        padding: 10px 60px;
        border-radius: 20px;
        border: none;
        cursor: pointer;
        transition: .5s;
    }
    
    .container-login-button input:hover{
        box-shadow: 0 0 10px #e28833;
        transition: .5s;
    }
    .messages .message-empty-data{
        margin-top: 20px;
        padding: 20px 80px;
        background: #d14545;
        color: #fff;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        outline: 2px solid #e71e1e;
        margin-bottom: 20px;
        border-radius: 5px;
        transition: .3s;
    }

    .messages .message-empty-data:hover{
        background: #ec3f3f;
        outline: 2px solid #f00d0d;
        transition: .3s;
        
    }

    .messages .btn-invalid-fields{
        margin-top: 20px;
        padding: 20px 80px;
        background: #d14545;
        color: #fff;
        font-size: 18px;
        font-family: 'Montserrat', sans-serif;
        outline: 2px solid #e71e1e;
        margin-bottom: 20px;
        border-radius: 5px;
        transition: .3s;
    }

    .messages .btn-invalid-fields:hover{
        background: #ec3f3f;
        outline: 2px solid #f00d0d;
        transition: .3s;
        
    }
}


